/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/





















.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 70px;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0px -1px 0px rgb(240, 218, 218);
}

.footer-description {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}

.footer-link {
  font-size: 15px;
  line-height: 24px;
  color: #c73e3e;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.form-type-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-type-email__input {
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  font-size: 15px;
  line-height: 24px;
  color: #424141;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}
.form-type-email__input::placeholder{
  padding-left: 10px;
}