
  %button-for-upload{
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 14px;
    color: $main-color;
    font-family: $montserat;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &:active{
      border: 3px solid orange;
    }
  }
  .title-section {
    display: block;
    margin: 0px auto;
    font-size: 30px;
    font-family: $montserat;
    color: $second-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    &::after {
      display: block;
      content: "";
      margin: 40px auto 0px auto;
      background-color: rgb(243, 129, 129);
      width: 60px;
      height: 3px;
    }
    &__item {
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
      color: $second-color;
      font-family: $kaushan-skript;
      font-weight: 400;
      text-align: center;
    }
  }
  