.overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 377px;
    height: 466px;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .overlay__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  
  .overlay__list-item:not(:last-child) {
    margin-right: 1px;
  }
  
  .overlay:hover .overlay__list-item:hover {
    background-color:#f38181;
    width: 56px;
    height: 56px;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
         -o-transition-timing-function: cubic-bezier(0, 0, 1, 1);
            transition-timing-function: cubic-bezier(0, 0, 1, 1);
  }
  .overlay:hover .overlay__list-item:hover .overlay__svg{
    fill: white;
  }
  .overlay__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56px;
    height: 56px;
    text-decoration: none;
    background-color:rgb(252, 227, 138);
  }
  .overlay__svg{
    display: block;
    width: 32px;
    height: 32px;
    fill: #f38181;
  }