.overlay {
    position: absolute;
    display: flex;
    width: 377px;
    height: 466px;
    top: 0;
    left: 0;
    opacity: 0;
    &__svg{
      display: block;
      width: 32px;
      height: 32px;
      fill: #f38181;
    }
    &__list {
      display: flex;
      list-style-type: none;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        text-decoration: none;
        background-color:rgb(252, 227, 138);
        &:not(:last-child) {
          margin-right: 1px;
        }
      }
    }
    &:hover .overlay__list-item:hover {
      background-color:#f38181;
      width: 56px;
      height: 56px;
      transition-duration: 200ms;
      transition-timing-function: cubic-bezier(0, 0, 1, 1);
    }
    &:hover .overlay__list-item:hover .overlay__svg{
      fill: white;
    }
  }
  