.main-header__content-under-menu{
    padding: 150px 0px 230px 0px;
  }
  .main-header__content-main-title{
    font-size: 72px;
    margin-bottom: 66px;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-weight: 400;
    text-align: center;  
  }
  .main-header__content-title{
    display: block;
    width: 900px;
    margin: 0 auto;
    font-size: 150px;
    line-height: 140px;
    margin-bottom: 124px;
    color: #ffffff;
    font-family: "Montserrat";  
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }