
  .basket-cart--margin-right-in-header {
    position: relative;
    margin-right: 50px;
    &:hover:after{
      top: 35px;
    }
  }
  .dundruff--hover-header{
    position: relative;
    &:hover:after{
      top: 25px;
    }
  }
  .button-for-upload__button-header{
    display: block;
    margin: 0 auto;
    border: 2px solid #ffffff;
    background-color: rgba(0,0,0,0);
  }